* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 80px auto;
  background-color: #212529;
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px black;
}
.display-container {
  height: 20%;
  width: 100%;
  background-color: #212529;
  border-radius: 30px;
}
.second-container {
  height: 80%;
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  background-color: #212529;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 80px;
  border: none;
  cursor: pointer;
  color: #f1f3f5;
  box-shadow: 0px 0px 15px #212529;
  font-weight: bold;
  font-size: 18px;
}
.grey-button {
  background-color: #868e96;
}
.orange-button {
  background-color: #f76707;
}

.black-button {
  background-color: #000;
}
.big-black-button {
  height: 50px;
  width: 125px;
  background-color: #000;
}
